<ion-header>
  <ion-toolbar>
    <ion-title>ProdutoView</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <img src="{{imagem}}">

    <ion-item>
      <input type="file" (change)="enviaArquivo($event)" />
    </ion-item>

  <form [formGroup]="formGroup">
    <ion-list>
      <ion-item>
        <ion-label floating>Nome</ion-label>
        <ion-input formControlName="nome" type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Descricao</ion-label>
          <ion-input formControlName="descricao" type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Preço</ion-label>
          <ion-input formControlName="preco" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Categoria</ion-label>
        <ion-input formControlName="categoria" type="text"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="atualizar()">Atualizar</ion-button>
  </form>
</ion-content>

