<ion-header>
  <ion-toolbar>
    <ion-icon name="menu" size="large" id="menu"></ion-icon>
    <div>
      <ion-icon name="cart" size="large" id="market" (click)="carrinho()"></ion-icon>
    </div>  
    <img src="../../assets/img/Logo.png" height="100" width="100" class="icon">
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides pager="true" autoplay="true" [options]="slideOpts">
    <ion-slide>
      <ion-img src="../../assets/img/f.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="../../assets/img/e.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="../../assets/img/d.jpg"></ion-img>
    </ion-slide>
  </ion-slides>

  <!-- <ion-list>
      <ion-item>
        <ion-label>Pokémon Yellow</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Mega Man X</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>The Legend of Zelda</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Pac-Man</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Super Mario World</ion-label>
      </ion-item>
    </ion-list>

  <ion-item>
    <ion-label>
      Bem vindo a nossa loja!
    </ion-label>
    <ion-icon name="information-circle" slot="end"></ion-icon>
  </ion-item>
-->

<ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="cart"></ion-icon>
      <ion-badge color="primary">{{pedido.itens.length}}</ion-badge>
    </ion-fab-button>
  </ion-fab>

    <ion-slides pager="true">
      <ion-slide>
          <ion-tab-button tab="schedule">
              <img src="../../assets/img/tshirt.png" width="100px" height="100px" />
              <!--<ion-icon name="calendar"></ion-icon>-->
              <ion-label>Camisa</ion-label>
              <ion-tab-button tab="schedule">
                  <img src="../../assets/img/tshirt.png" width="100px" height="100px" />
                  <!--<ion-icon name="calendar"></ion-icon>-->
                  <ion-label>Camisa</ion-label>
                </ion-tab-button>
                <ion-tab-button tab="schedule">
                    <img src="../../assets/img/tshirt.png" width="100px" height="100px" />
                    <!--<ion-icon name="calendar"></ion-icon>-->
                    <ion-label>Camisa</ion-label>
                  </ion-tab-button>
            </ion-tab-button>
      </ion-slide>
      <ion-slide>
          Um slide simples
        </ion-slide>
        <ion-slide>
            Um slide simples
        </ion-slide>
    </ion-slides>


  <ion-grid>
    <ion-row>
          <ion-tab-button tab="schedule">
            <img src="../../assets/img/tshirt.png" width="100px" height="100px" />
            <!--<ion-icon name="calendar"></ion-icon>-->
            <ion-label>Camisa</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="speakers">
            <img src="../../assets/img/shoe.png" width="100px" height="100px" />
            <ion-label>Tênis</ion-label>
            </ion-tab-button>
          <ion-tab-button tab="speakers">
            <img src="../../assets/img/cap.png" width="100px" height="100px" />
            <ion-label>Bonés</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="speakers">
            <img src="../../assets/img/1826099.png" width="100px" height="100px" />
            <ion-label>Bonés</ion-label>
          </ion-tab-button>
    </ion-row>
  </ion-grid>

  <ion-item class="select">
    <ion-label>
      <ion-tabs>
        <ion-tab-bar slot="bottom">

          <ion-tab-button tab="speakers">
            <ion-icon name="contacts"></ion-icon>
            <ion-label>Calça</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="map">
            <ion-icon name="map"></ion-icon>
            <ion-label>Acessorios</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-label>

  </ion-item>

  <ion-card *ngFor="let produto of listaDeProdutos">
    <ion-card-header>
      <img src="{{produto?.foto}}" class="aa">
      <ion-card-title>{{produto?.nomeProduto}}</ion-card-title>
      <ion-card-subtitle>R$ {{produto?.preco}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>{{produto?.descricao}}</p>
      <p>{{produto?.categoria}}</p>
    </ion-card-content>
    <ion-button fill="outline" slot="end" (click)="addCarrinho(produto)" >Adicionar</ion-button>
  </ion-card>

  <!-- fab placed in the center of the content with a list on each side -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" id="fab">
    <ion-fab-button>
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-footer>
    <ion-toolbar>
      <b>Swaggy Multimarcas ©</b>
    </ion-toolbar>
  </ion-footer>

</ion-content>